@{
    ViewData["Title"] = "Message";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row p-1">
                <div class="col-2">User</div>
                <div class="col-5"><input type="text" id="userInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-2">Message</div>
                <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>

        <div class="col-6">
            <ul class="list-group">
                @foreach (AppUser item in ViewBag.Users)
                {
                    @* <a asp-controller="chat" asp-action="showAlert" asp-route-UserId="@item.Id">Select for Send</a>*@
                    @if (item.ConnectionId != null)
                    {
                        <li class="list-group-item" style="padding-left: 30px;">
                            <input class="form-check-input users-value" type="checkbox" value="@item.Id">
                            <span id="@item.Id" class="bg-online" style="display:inline-block; width:10px; height: 10px; border-radius:50%;"></span>  @item.Fullname
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item" style="padding-left: 30px;">
                            <input class="form-check-input users-value" type="checkbox" value="@item.Id" disabled>
                            <span id="@item.Id" class="bg-offline" style="display:inline-block; width:10px; height: 10px; border-radius:50%;"></span>  @item.Fullname
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-6">
            <div class="col-12 mx-auto">
                <hr class="bg-warning" />
                <h4 class="alert alert-warning text-center">
                    Messages
                </h4>
                <hr class="bg-warning" />
            </div>
            <div class="col-12 mx-auto">
                <ul class="list-group list-group-flush" id="message-section">
                    
                </ul>
            </div>
        </div>
    </div>


</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.4/signalr.min.js" integrity="sha512-ulHhwQdGlX96gNSRsakG06STFdaQBUTbCX4KqLcYI428blEsttMkg2C3n2KtiYNDwnETBHXDg9ZAtvkfMHTYOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
        connection.start();

        // simple version
        //document.getElementById("sendButton").onclick = function () {
        //    let userValue = document.getElementById("userInput").value;
        //    let messageValue = document.getElementById("messageInput").value;

        //    connection.invoke("SendMessage", userValue, messageValue);
        //};

        // group or single message possibility
        document.getElementById("sendButton").onclick = function () {
            let messageValue = document.getElementById("messageInput").value;
            let userValue = document.getElementById("userInput").value;
            let usersList = [];
            document.querySelectorAll(".users-value").forEach(function (item) {
                if (item.checked) // yuksek guvenlik ucun value-u "null or empty" ile yoxlamaq meslehetdi + back terefde de yoxlamaq
                    usersList.push(item.value);
            });
            connection.invoke("SendMessage2", usersList, userValue, messageValue);
        };

        // recieve-2 new
        connection.on("ReceiveMessage2", function (user, message) {
            let messageSection = document.getElementById("message-section");
            let addingMessage =
            `
                <li class="list-group-item"><span class="rounded text-primary">${user}-->&nbsp&nbsp</span>${message}</li>
            `;
            /// Userin kimliyini tapib onun ozu olduqda sagdan yasil olmadiqda soldan mavi yazdirmaq olardi. uzundu deye yazmadim numune:
            //      if(...)
            //      <li class="list-group-item" > <span class="rounded text-primary" > Username-- >& nbsp & nbsp < /span>Salam, necəsiniz?</li >
            //      else
            //      <li class="list-group-item text-right" > <span class="rounded text-success float-right" > & nbsp & nbsp < --Username < /span> Salam, necəsiniz? </li >
            
                messageSection.innerHTML = messageSection.innerHTML + addingMessage;

        })

        connection.on("UserOnline", function (userId) {
            document.getElementById(userId).classList.remove("bg-offline");
            document.getElementById(userId).classList.add("bg-online");
        })

        connection.on("UserOffline", function (userId) {
            document.getElementById(userId).classList.remove("bg-online");
            document.getElementById(userId).classList.add("bg-offline");
        })

        connection.on("ShowAlert", function (message) {
            alert(message);
        })


    </script>



}
